<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Elements.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Game_Elements.Properties.Settings>
            <setting name="PrimaryBackColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="SecondaryBackColor" serializeAs="String">
                <value>35, 35, 35</value>
            </setting>
            <setting name="MouseOverBackColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="SelectedBackColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="PrimaryForeColor" serializeAs="String">
                <value>230, 230, 230</value>
            </setting>
            <setting name="SelectedForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AccentBackColor" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="AccentForeColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="SuccessTextColor" serializeAs="String">
                <value>80, 200, 120</value>
            </setting>
            <setting name="FailureTextColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="ErrorTextColor" serializeAs="String">
                <value>220, 70, 70</value>
            </setting>
            <setting name="FlavorTextColor" serializeAs="String">
                <value>160, 160, 220</value>
            </setting>
            <setting name="CommonRarityColor" serializeAs="String">
                <value>180, 180, 180</value>
            </setting>
            <setting name="RareRarityColor" serializeAs="String">
                <value>70, 130, 255</value>
            </setting>
            <setting name="EpicRarityColor" serializeAs="String">
                <value>170, 0, 255</value>
            </setting>
            <setting name="LegendaryRarityColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="SmallFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MediumFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LargeFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimestampTextOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaterTerrainColor" serializeAs="String">
                <value>40, 90, 140</value>
            </setting>
            <setting name="GrasslandTerrainColor" serializeAs="String">
                <value>60, 120, 60</value>
            </setting>
            <setting name="DesertTerrainColor" serializeAs="String">
                <value>180, 160, 110</value>
            </setting>
            <setting name="MountainTerrainColor" serializeAs="String">
                <value>70, 70, 80</value>
            </setting>
            <setting name="P1BuildingColor" serializeAs="String">
                <value>255, 95, 95</value>
            </setting>
            <setting name="P2BuildingColor" serializeAs="String">
                <value>255, 165, 70</value>
            </setting>
            <setting name="P3BuildingColor" serializeAs="String">
                <value>255, 225, 90</value>
            </setting>
            <setting name="P4BuildingColor" serializeAs="String">
                <value>120, 220, 90</value>
            </setting>
            <setting name="P5BuildingColor" serializeAs="String">
                <value>90, 200, 255</value>
            </setting>
            <setting name="P6BuildingColor" serializeAs="String">
                <value>100, 140, 255</value>
            </setting>
            <setting name="P7BuildingColor" serializeAs="String">
                <value>180, 110, 255</value>
            </setting>
            <setting name="P8BuildingColor" serializeAs="String">
                <value>255, 120, 200</value>
            </setting>
        </Game_Elements.Properties.Settings>
    </userSettings>
</configuration>